{
   "swagger":"2.0",
   "info":{
      "version":"1.0",
      "title":"Iugu API",
      "description":"Specification document for iugu API",
      "termsOfService":"https://iugu.com/juridico/termos-de-servico",
      "contact":{
         "name":"Support Iugu",
         "email":"support@iugu.com"
      },
      "license":{
         "name":"MIT"
      }
   },
   "host":"api.iugu.com",
   "produces":[
      "application/json",
      "application/xml"
   ],
   "schemes":[
      "https"
   ],
   "securityDefinitions":{
      "api_http_auth":{
         "type":"basic",
         "description":"API KEY validation over HTTP Basic Authentication."
      }
   },
   "paths":{
      "/v1/utilities/interest":{
         "get":{
            "description":"Calculate interest for given amount",
            "operationId":"Interest Calculator",
            "tags":[
               "interest",
               "utilities"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"query",
                  "description":"ID of pet to fetch",
                  "required":true,
                  "type":"integer",
                  "format":"int64",
                  "default":5
               }
            ],
            "responses":{
               "200":{
                  "description":"OBJECT"
               },
               "422":{
                  "description":"Unprocessable Entity",
                  "schema":{
                     "$ref":"#/definitions/V1InputError"
                  }
               },
               "401":{
                  "description":"Unauthorized",
                  "schema":{
                     "$ref":"#/definitions/V1RequestError"
                  }
               }
            },
            "security":[
               {
                  "api_http_auth":[

                  ]
               }
            ]
         }
      }
   },
   "definitions":{
      "V1InputError":{
         "required":[
            "errors"
         ],
         "properties":{
            "errors":{
               "type":"object",
               "properties":{
                  "total_cents":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            }
         }
      },
      "V1RequestError":{
         "required":[
            "errors"
         ],
         "properties":{
            "errors":{
               "type":"string"
            }
         }
      }
   }
}
